{% extends 'layout.html' %}

{% block css %}
<style>
  .dg{
    border-left: 3px solid rgb(197, 213, 255);
  }
</style>
{% endblock %}

{% block body %}

<div class="container mt-5" id="top-con">
    <p class="h1 text-center text-light">AI Netflix Movie Recommendation</p>
    <p class="h3 text-center text-light">Prediction Results</p>
    <div class="row justify-content-center mt-5">
        
        <div class="col-md-8">

          <div class="text-light h3">
            <ul class="list-group" id="results">

            </ul>
          </div>

        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
  $(document).ready(() => {
    let data = JSON.parse(sessionStorage.getItem('data'));
    console.log(data);
    if(data.length){
        data.forEach( element => {
                    $('#results').append(`<li class="list-group-item bg-dark dg">${element}</li>`)
                })
    }else{
        $('#top-con').append(`<p class="display-4 text-center">No Data Found</p>`)
    }
  });
</script>
{% endblock %}
